@use '../settings/variables' as var;

.unit-desc-wrap {
    &__summary {
        @include var.sub-font(20px);
        line-height: 40px;

        @include var.media-pc {
            @include var.sub-font(24px);
        }
    }

    &__detail {
        @include var.sub-font(14px, 500);
        margin-top: 29px;
        line-height: 30px;
    }
}